.cabecalho {
display: flex;
justify-content: space-around;
align-items: center;
background-color: #BCB0B0;

}

.cabecalho__imagem {

width: 130px;
height: 157px;
border-radius: 100px;

}

.cabecalho__titulo , .cabecalho__menu {

    display: inline;

}

.cabecalho__menu-item{
    font-size: 32px;
    color: rgb(232, 249, 1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display: inline;
    margin: 0px 0px 0px 20px;
}

.escola{
    margin: 20px;
    padding: 20px;
    background-color: rgb(232, 249, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.escola__imagem{
    margin: 20px;
    width: 300px;
    height: auto;
}
.escola__titulo{

    text-align: center;
}
.escola__paragrafo{
    text-align: justify;
}